body {
  text-align: center;
  background: #303030;
  color: white;
  font-family: arial;
}

nav {
  background: #6200EA;
  padding: 10px;
  border-bottom: solid #FFFF00 1px;
}

.tab {
  color: white;
  padding: 5px;
}