html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  text-align: center;
  background: #303030;
  color: white;
  font-family: 'Arial';
}

nav {
  background: #FF3D00;
  padding: 10px;
  border-bottom: solid #FFFF00 1px;
}

h1 {
  font-family: 'Carter one';
}

.tab {
  font-family: 'Carter one';
  color: white;
  padding: 5px;
}

.padding {
	padding: 5px;
}

.paddingTop {
  padding-top: 30px;
}

.center {
	text-align: center;
}